

.form{
   border: 2px solid black;
   width: 280px;
   height: 380px;
   position: relative;
   left: 290px;
   top: 65px;
   border-radius: 2px;

}
img{
    width: 65px;
    height: 65px;
    padding-left: 105px;
   padding-top: 45px;
}
.p2{
    padding-left: 75px;
    font-size: 30px;
    font-family: 'Kanit', sans-serif;
}
.p3{
    text-align: center;
}
.p4{
    background-color: black;
    color: aliceblue;
    width:200px ;
    height: 35px;
    margin-left: 35px;
    border-radius: 40px;
}
.P5{
    text-align: center;
}

.form1{
    background-color: deeppink;
    width: 280px;
    height: 385px;
    position: relative;
    left: 620px;
    top:-320px ;
    border-radius: 3px;
}
.c1 img{
    width: 100px;
    height: 100px;
    padding-left:80PX ;
    padding-top:20PX ;
}
.c2{
    padding-left: 55px;
    font-size: 30px;
    color: white;
    font-family: 'Kanit', sans-serif;
}
.c3{
    text-align: center;
    color: white;
}
.c4{
    background-color:aliceblue; 
    color: gray;
    width: 200px;
    height: 35px;
    margin-left: 35px;
    border-radius: 40px;
}

.form2{
    border: 2px solid black;
    width: 280px;
    height: 380px;
    position: relative;
    left: 945px;
    top: -705px;
    border-radius: 3px;
}

@media screen and (max-width:450px) {
    .form{
        margin-top:-50PX;
        margin-left: -250PX;
    }
    .form1{
       margin-left: -575PX;
       margin-top: 400PX;
    }
    .form2{
        margin-left: -900PX;
        margin-top: 400PX;
    }
}
@media screen and (orientation:landscape) and (max-width:768px){
    .form{
        margin-left: -280px;
    }
    .form1{
        margin-left: -320px;
    }
    .form2{
        margin-left: -350px;
    }
}
